@import url(reset.css);

/* *{outline: 1px solid orange;} */
/*----- 共用 -----*/
body{
	padding-top: 0.1px;
	width: 100%;
	margin:0 auto;
	font-family: "微軟正黑體";
	text-align: center;
}



a{
	text-decoration: none;
	display:block;
	text-align:center;
	color:black;
	font-family: "微軟正黑體";
}

h1{
	text-align: center;
	line-height: 4.3;
    font-size: 18px;
}

h3{
	padding-top: 10px;
}

footer{
	background-color: rgb(220,216,206);
	height:200px;
	line-height: 1.8;
    font-size: 12px;
    padding-top: 30px;
   
}

footer > a > .logo{
	display:block;
	margin:0 auto;
}

.logo{
	width:40px;
}


/*========================================================*/
/*--------- NavBar ---------*/
.menus {
	display:flex;
	justify-content:center;
	
	position: fixed;
	z-index: 3;
	width: 100%;
	background-color: white;
	transition: top 0.5s;
	/*top:-100px;*/
}

.menus img{
	display:inline-block;
	margin:0 auto;
}

.list1{
	display:flex;
	justify-content: center;
	width:600px;
	margin-left: 140px;
	margin-right: 20px;


}
.logo{
	width:40px;
	
}

.list1 li{
	writing-mode: vertical-lr;
	letter-spacing:5px;
	margin:10px 30px;
	font-size:14px;

}

.icon{
	display:inline-flex;
	width:120px;
	justify-content: space-around;
	align-items:flex-end;

}

.icon a img{
	margin-bottom:10px;
	margin-right: 6px;
}


/*------------------------------------------------------*/

.wrapper{
	/*position: relative;*/
}

.content {
 
 }

 #menu_control{
 	position: absolute;
 	top: -50px;
 	z-index: -2;
 }
 .menu_btn{
  width: 50px;
  height: 50px;
  display: inline-block;
  /* background-color: rgba(255,255,255,.8); */
  position: absolute;
  top:3px;
  right:10px;
  /* box-shadow: 0 2px 2px  #976c60; */
  display: none;
 }

 .menu_btn span{
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;

 }

 .menu_btn::before{
  content: '';
  position: absolute;
  height: 4px;
  left: 4px;
  width: 42px;
  background-color: #C5B0AA;
  border-radius: 40px;
  top: 0; bottom:0;
  margin: auto;
  box-shadow: 0px 10px 0px #C5B0AA,
     0px -10px 0px #C5B0AA;
 }

 .content .list_rwd{
 	position: absolute;
 	display: none;
 }

.content.topp{
	/*outline: 	3px solid red;*/
	width: 100%;
	height: 15px;
	position: fixed;
}


@media screen and (max-width: 767px){

 .menu_btn{
  display: block;
 }


 
 .menu_btn{
  position: fixed;
  top:5px;
  right: 5px;
  z-index: 5;
 }

 .topp .list_rwd{
 	display: block;
 	position: absolute;
 	width: 100%;
 	height: 100vh;
 	right: -120%;
 	top:0px;
 	
 	transition: 0.5s;
 	z-index: 3;

 }
 .topp .list_rwd li{
 	width: 100%;
 	height: 9vh;
 	background-color: rgba(255,255,255,.8);
 	margin-bottom: 2px;
 }

 .topp .list_rwd a{
 	height:100%;
 	line-height: 3;
 	font-size: 18px;
 	
 }
.topp .list_rwd a:hover {
	color:rgb(160, 136, 91);
	
}

 .topp .list_rwd .logo{
 	/*padding: 20px;*/
 }


 #menu_control:checked ~ .list_rwd{
 	right: 0;
 	top: 0;
 }


 .list1 , .icon, .icon1 a{
 	display: none;
 }

}


.content.topp{
	/*outline: 	3px solid red;*/
	width: 100%;
	height: 15px;
	position: fixed;
}

.logo_list{
	padding: 5vh 0 2vh 0; /* 改這裡 ~~~~!!*/
}

.list_rwd .logo_list a{
	height:100%;
}
/*========================================================*/
.list1_about{
	color:rgb(160, 136, 91);
	
}
/*----- content1 -----*/
.content1{
	background-color: rgb(224,226,214);
	height:387px;
	padding-top: 100px;
}

@media screen and (max-width: 767px){

.content1 {
    padding-top: 50px;
}
}

.content1 p{
	line-height: 2;
	font-size: 14px;
}

.ending{
	margin-bottom: 30px;
}
  
@media screen and (max-width: 575px){
.content1{
	height:387px;
	padding-top: 50px;
}

.content1 p{
	line-height: 2;
	font-size: 14px;
}

.ending{
	margin-bottom: 30px;
}

.line_1{
	width:80%;
	height:0.2px;
	background-color:rgb(127,127,127);
	margin:0 auto;
	margin-bottom:10%;
}
}


@media screen and (min-width: 576px) and (max-width: 767px){
}


@media screen and (min-width: 768px) and (max-width: 1199px){

}


/*---------------------------------------------------*/
.photo{
 	width:100%;
}


/*----------------------------------------------------*/
.content2{
	background-color: white;
	/*height:350px;*/
	display:flex;
	justify-content:center;
}

.content2 p{
	width:500px;
	margin:90px;
	line-height: 2;
}

@media screen and (max-width: 575px){
.content2{
	height:50%;
	padding: 40px 0;
	flex-direction: column;
	justify-content:center;
}

.content2 p{
	width:60%;
	margin:0 auto;
	line-height: 2;
}

.content2-1{
	padding-bottom:30px;
}

}


@media screen and (min-width: 576px) and (max-width: 767px){
.content2{
	height:50%;
	padding: 40px 0;
	flex-direction: column;
	justify-content:center;
}

.content2 p{
	width:60%;
	line-height: 2;
	margin:0 auto;
}

.content2-1{
	padding-bottom:30px;
}
}


@media screen and (min-width: 768px) and (max-width: 1199px){
	.content2 p{
	width:40%;
	margin:0 auto;
	line-height: 2;
	padding: 50px 0;
	}
}


/*------------------------------------------------------*/

.content3{
	background-color: rgb(231,229,221);
	/*height:380px;*/
}

.content3 > .line{
	width: 0.5px;
	height:70px;
	background-color: rgb(128,128,127);
	margin: 0 auto;
}

.content3 > img{
	margin-bottom: 10px;

}

.content3 > p{
	line-height:1.5;
}

.content3-1{
	width:80%;
	margin:30px auto;
	margin-bottom: 0;
	padding-bottom: 30px;
}
.content3-1 .room{
	line-height: 1.4;
}

@media screen and (max-width: 575px){
/*.content .content3-1{
	width:90%;
}*/
.content3{
	background-color: rgb(231,229,221);
	/*height:380px;*/
}

.content3 > .line{
	width: 0.5px;
	height:70px;
	background-color: rgb(128,128,127);
	margin: 0 auto;
}

.content3 > img{
	margin-bottom: 10px;
}

.content3 > p{
	line-height:1.5;

}

.content3-1{
	width:80%;
	/*margin:20px auto;*/
}
.content3-1 .room{
	line-height: 1.4;
	margin:0; 
	padding-bottom: 30px;
}

}

/*
 @media screen and (max-width: 575px){
  }
    @media screen and (min-width: 576px) and (max-width: 767px){
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
    }
    @media screen and (min-width: 1200px){
    }*/